/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

  #main-heading {
    .box-sizing(border-box);
    padding-right: 50px;
  }

  .right-of-heading {
    position: relative;
    height: 66px;
    margin-top: 20px;
    margin-bottom: 10px;

    .right-of-heading-text {
      position: absolute;
      bottom: 1px;
      right: 0;
      margin: 0;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .row:not(.no-padding) {
    padding-left: 45px;
    padding-right: 45px;
  }

  .navbar-default {
    background: #edf1f1; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4N2EzYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #edf1f1 0%, #87a3a5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edf1f1), color-stop(100%, #87a3a5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #edf1f1 0%, #87a3a5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #edf1f1 0%, #87a3a5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #edf1f1 0%, #87a3a5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #edf1f1 0%, #87a3a5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf1f1', endColorstr='#87a3a5', GradientType=0); /* IE6-8 */
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
  }

  .navbar-collapse .navbar-nav {
    margin-top: 0;
  }

  .navbar-header {
    background: transparent;
  }

  #logo-big {
    top: -94px;
  }

  #main-heading {
    padding-right: 60px;
  }

  .container-offset {
    margin-left: -15px;
    margin-right: -15px;
  }

  .navbar-collapse {
    background-color: transparent;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  .row:not(.no-padding) {
    padding-left: 75px;
    padding-right: 75px;
  }

  .navbar-header {
    padding-left: 30px;
  }
}

@media (max-width: @screen-xs-max) {

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

@media (min-width: @screen-lg-min) {

}